.Overview {
  margin-left: 26px;
  color: #83858b;
}

.category {
  display: grid;
  grid-template-columns: repeat(5, 232px);
  margin-left: 26px;
  gap: 20px;
  margin-top: 64px;
}

.category > div {
  height: 98px;
  width: 232px;
}
